<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development">
    <meta name="author" content="Sergey Pimenov and Metro UI CSS contributors">
    <link rel='shortcut icon' type='image/x-icon' href='../favicon.ico' />
    <title>Milestones Trust: SAS</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/metro-all.css" rel="stylesheet" />
    @*<link href="~/css/metro-icons.css" rel="stylesheet">
        <link href="~/css/metro-responsive.css" rel="stylesheet">*@
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/js/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/metro.js?ver=4.2.39"></script>
    <script>
        function pushMessage(t) {
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function () {
            $('.sidebar').on('click', 'li', function () {
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
    </script>
</head>
<body class="bg-white">
    <div class="app-bar fixed-top darcula" data-role="appbar" style="background-color:#1e1b52;">
        <a class="branding  no-responsive-future" href="~/"><img src="~/images/MilestonesTrust.PNG" style="height:81px; margin-right:16px;" /></a>
        <span class="app-bar-divider" style="padding-right: 50px;background-color:#1e1b52;"></span>
        <a href="#" class="app-bar-item" style="color:#fff;">@{Html.RenderAction("TaskStatuses", "Home"); }</a>

        <a href="#" class="app-bar-item" style="color:#fff;position:absolute;right:0;">
            @if (Request.IsAuthenticated)
            {
                <div style="padding-right:50px;padding-bottom:5px;color:#ffffff;">Current user: @User.Identity.Name.Substring(User.Identity.Name.LastIndexOf(@"\") + 1, (User.Identity.Name.Length - User.Identity.Name.LastIndexOf(@"\")) - 1)</div>
            }
            else
            {
                <ul></ul>
            }
        </a>
    </div>
    <div class="page-content">

        <div class="flex-grid no-responsive-future" style="height: 95%;">
            <div class="row" style="height: 100%;margin-top:30px;">
                <div class="cell" id="cell-sidebar" style="background-color: #36cab2; height: 100%;max-width:250px;;overflow-y:hidden;max-height:875px;">
                    <ul class="sidebar-menu">
                        @{Html.RenderAction("MyTasks", "Home"); }
                        @{Html.RenderAction("partSideMenu", "Home"); }


                    </ul>
                </div>
                <div class="cell bg-white" id="cell-content" style="padding-top:10px;overflow-y:scroll;max-height:850px;">
                    @RenderBody()

                    <div class="pos-fixed pos-center" data-role="dialog" data-close-button="false" id="popUpTwo" data-width="1000" style="width:1200px;">
                        <div class="dialog-title"></div>
                        <div id="popUpTwoContent" class="dialog-content" style="max-height: 800px; overflow:auto">
                            <img src="~/Images/loading.gif" />

                        </div>
                        <div class="dialog-actions" style="display:none;"></div>
                        <span class="button square closer js-dialog-close" style="position:absolute;top:8px;right:16px;" onClick="window.location.reload();">X</span>
                    </div>

                    <div class="pos-fixed pos-center" data-role="dialog" data-close-button="false" id="popUpLarge" data-width="1700" style="width:1900px;">
                        <div class="dialog-title"></div>
                        <div id="popUpLargeContent" class="dialog-content" style="max-height: 800px; overflow:auto">
                            <img src="~/Images/loading.gif" />

                        </div>
                        <div class="dialog-actions" style="display:none;"></div>
                        <span class="button square closer js-dialog-close" style="position:absolute;top:8px;right:16px;" onClick="window.location.reload();">X</span>
                    </div>
                    <div class="pos-fixed pos-center" data-role="dialog" data-close-button="false" id="popUp" data-width="1400" style="width:1600px;min-height:600px;">
                        <div class="dialog-title"></div>
                        <div id="popUpContent" class="dialog-content" style="min-height:600px; max-height: 800px; overflow:auto">
                            <img src="~/Images/loading.gif" />

                        </div>
                        <div class="dialog-actions" style="display:none;"></div>
                        <span class="button square closer js-dialog-close" style="position:absolute;top:8px;right:16px;" onClick="window.location.reload();">X</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>