@model SITSAS.Models.MyTasksModel
<br />
@if (Request.Url.AbsolutePath == "/Home/Tasks")
{
    @Html.Raw("<li class='active'>")
}
else
{
    @Html.Raw("<li>")
}
<a href="~/Home/Tasks" style="color:#fff;font-size:11px;">
    <span class="mif-users icon"></span>
    <span class="title">My Tasks</span>
</a>
@Html.Raw("</li>")
