@model SITSAS.Models.MyTasksModel
@if (Request.Url.AbsolutePath == "/Home/Tasks")
{
    @Html.Raw("<li class='active'>")
}
else
{
    @Html.Raw("<li>")
}
<a href="~/Home/Tasks" style="background-color:@Model.Colour">
    <span class="mif-users icon"></span>
    <span class="title">My Tasks</span>
    <span class="counter">@Model.NumberOfTasks.ToString()</span>
</a>
@Html.Raw("</li>")
