@model  SITSAS.Models.CreateUpdateAreaModel
<button class="image-button warning" onclick="$('#submit').trigger('click');">
    <span class="mif-floppy-disk icon"></span>
    <span class="caption">Save</span>
</button>
@if (Model.AreaExists)
{
    <button class="image-button warning" onclick="if (confirm('Are you sure you want to delete this item?') == true) { window.location.href = '/Home/DeleteArea?ID=@Model.ExistingArea.ID'; }">
        <span class="mif-bin icon"></span>
        <span class="caption">Delete</span>
    </button>
}
<hr class="thin bg-grayLighter">
<div class="content" style="background-color:#d7f4ef;padding:10px;">

    <form id="form0" action="/Home/SaveArea" method="post">
        <input type="submit" id="submit" style="display:none;" />
        <table style="width: 80%;" align="center">
            <tr>
                <td style="width: 100%;">
                    <label>Name</label>
                    <div class="input-control text" style="width:100%;">
                        @if (Model.AreaExists)
                        {

                            <input type="text" name="Name" id="Name" value="@Model.ExistingArea.Name" style="width: 100%;" required />
                                <input type="hidden" name="ExistingAreaID" id="ExistingAreaID" value="@Model.ExistingArea.ID" />

                        }
                        else
                        {
                            <input type="text" name="Name" id="Name" style="width: 100%;" required />
                                <input type="hidden" name="ExistingAreaID" id="ExistingAreaID" value="0" />
                        }
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>
