@model SITSAS.Models.QuestionsModel
<h1 class="text-light">Future Questions<span class="mif-question place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
<a class="image-button warning" href="~/Home/Questions"><span class="icon mif-question"></span> Active Questions</a>
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
    <thead>
        <tr>
            <td style="width: 39.75%" class="sortable-column">Name of Question</td>
            <td style="width: 39.75%" class="sortable-column">Calculation Model</td>
            <td style="width: 7.5%" class="sortable-column"></td>
            <td style="width: 13%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var rCategories in Model.ExistingQuestions)
        {
            <tr>
                <td>@rCategories.Name</td>
                <td>@rCategories.CalculationModel.Name</td>
                <td>
                    <a class="image-button warning" href="~/Home/CreateUpdateQuestion?ID=@rCategories.ID"><span class="icon mif-pencil"></span> Edit</a>
                </td>
                <td>
                    <a class="image-button warning" href="~/Home/AddUpdateQuestionAnswers?QuestionID=@rCategories.ID"><span class="icon mif-pencil"></span> Answers</a>
                </td>
            </tr>
        }


    </tbody>
</table>