@model SITSAS.Models.CategoriesModel
<h1 class="text-light">Retired Categories<span class="mif-security place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
<button class="image-button warning" onclick="window.location.href = '/Home/Categories'">
    <span class="mif-security icon"></span>
    <span class="caption">Active Categories</span>
</button>
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 92.5%" class="sortable-column">Name</td>
            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var rCategories in Model.ExistingCategories)
        {
            <tr>
                <td>@rCategories.Name</td>
                <td>
                    <button class="image-button warning" onclick="window.location.href = '/Home/CreateUpdateCategory?ID=@rCategories.ID'">
                        <span class="mif-pencil icon"></span>
                        <span class="caption">View</span>
                    </button>
                    @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                </td>
            </tr>
        }


    </tbody>
</table>