@model SITSAS.Models.QuestionsModel
<h1 class="text-light">Retired Questions<span class="mif-question place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">

<button class="image-button warning" onclick="window.location.href = '/Home/Questions'">
    <span class="mif-question icon"></span>
    <span class="caption">Active Questions</span>
</button>
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 39.75%" class="sortable-column">Name of Question</td>
            <td style="width: 39.75%" class="sortable-column">Calculation Model</td>
            <td style="width: 7.5%" class="sortable-column"></td>
            <td style="width: 13%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var rCategories in Model.ExistingQuestions)
        {
            <tr>
                <td>@rCategories.Name</td>
                <td>@rCategories.CalculationModel.Name</td>
                <td>
                    <button class="image-button warning" onclick="window.location.href = 'Home/CreateUpdateQuestion?ID=@rCategories.ID'">
                        <span class="mif-pencil icon"></span>
                        <span class="caption">View</span>
                    </button>
                </td>
                <td>
                    <button class="image-button warning" onclick="window.location.href = '/Home/AddUpdateQuestionAnswers?QuestionID=@rCategories.ID'">
                        <span class="mif-pencil icon"></span>
                        <span class="caption">Answers</span>
                    </button>
                </td>
            </tr>
        }


    </tbody>
</table>